---
# yaml-language-server: $schema=https://kubernetes-schemas.nerdz.cloud/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: kait-talosconfig
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: kait-talosconfig
    template:
      engineVersion: v2
      data:
        # Decode the base64 string back to the original file
        talosconfig: "{{ .talosconfig_b64 | b64dec }}"
  data:
    - secretKey: talosconfig_b64
      remoteRef:
        key: talos-admin
        property: talosconfig-b64
