# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
talosconfig
.decrypted~*.yaml
.decrypted~*.md
.config.env
*.agekey
*.pub
*.key
# Private
.private
.bin
.repoql/
# Ansible
.venv*
# Taskfile
.task
# Brew
Brewfile.lock.json
# intellij
.idea
# Scratchpad
.scratch/
# wiki
wiki
# Bootstrap
/config.yaml
#
/tmp
# RepoQL
.repoql/
